@font-face {
    font-family: 'Futura XBlk BT';
    src: url('assets/fonts/subset-FuturaBT-ExtraBlack.woff') format('woff2'),
        url('assets/fonts/subset-FuturaBT-ExtraBlack.woff2') format('woff');
 
 }

 @keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

 .main-text {
    color: #aaaaaa;
    font-family: 'Futura XBlk BT', sans-serif;
    font-size: clamp(2rem, 5dvw, 6rem);
    text-shadow: 0 0.8vw 0.8vw #c4b59d, 0 -0.3vw 0.15vw #fff;
 }

 .main-text span {
    opacity: 0;
    display: inline-block;
    font-family: 'Futura XBlk BT', sans-serif;
    animation: fadeIn 1s ease forwards;
 }